<!DOCTYPE html>
<html>
<head>
    <script src="//cdn.jsdelivr.net/react/15.4.2/react.min.js"></script>
    <script src="//cdn.jsdelivr.net/react/15.4.2/react-dom.min.js"></script>

    <link rel="stylesheet" href="//apis.guru/graphql-voyager/releases/v1.x/voyager.css" />
    <script src="https://apis.guru/graphql-voyager/releases/v1.x/voyager.min.js"></script>

</head>
<body style="height: 100vh;">
    <div id="voyager" style="height: 100%;">Loading...</div>
    <script>
        function introspectionProvider(introspectionQuery) {
            // This example expects a GraphQL server at the path /graphql.
            // Change this to point wherever you host your GraphQL server.
            return fetch(window.location.protocol + "//" + window.location.host + "@Model.GraphQLEndPoint", {
                method: 'post',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ query: introspectionQuery }),
                credentials: 'include',
            }).then(function (response) {
                return response.text();
            }).then(function (responseBody) {
                try {
                    return JSON.parse(responseBody);
                } catch (error) {
                    return responseBody;
                }
            });
        }

        // Render <Voyager />
        GraphQLVoyager.init(document.getElementById('voyager'), {
            introspection: introspectionProvider
        })
    </script>
</body>
</html>