@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script>
    async function executeGraphQLRequest(serverName, query) {
        const formData = new FormData();
        formData.append('query', query);

        const response = await fetch(`https://${serverName}/graphql`, {
            method: 'POST',
            body: formData,
            credentials: 'include', // Set the credentials option to "include"
        });

        const jsonResponse = await response.json();
        return jsonResponse;
    }

    async function runme() {
        const serverName = 'localhost:7110';
        const query = '{ helloRegisteredUser }';

        const jsonResponse = await executeGraphQLRequest(serverName, query);
        console.log(jsonResponse);
    }
</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button onclick="runme()" >Click me to test CSRF attack</button>
</div>
