name: Publish release

on:
  release:
    types:
      - published

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Check github.ref starts with 'refs/tags/'
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        run: |
          echo Error! github.ref does not start with 'refs/tags'
          echo github.ref: ${{ github.ref }}
          exit 1
      - name: Set version number environment variable
        env:
          github_ref: ${{ github.ref }}
        run: |
          ref="${github_ref:10}"
          echo $ref
          echo "::set-env name=ref::$ref"
      - name: Use .NET Core 3.1 SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.x'
          source-url: https://api.nuget.org/v3/index.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.NUGET_AUTH_TOKEN}}
      - name: Install dependencies
        run: dotnet restore
      - name: Build solution (release config)
        run: dotnet build --no-restore -c Release -p:NoWarn=CS1591 -p:Version=$ref
      - name: Pack solution (release config)
        run: dotnet pack --no-restore --no-build -c Release -p:Version=$ref -o out
      - name: Publish artifacts
        uses: actions/upload-artifact@v2
        with:
          name: Nuget packages
          path: |
            out/*.nupkg
      - name: Publish Nuget packages to Nuget registry
        run: dotnet nuget push out/*.nupkg
